* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
 html, body {
        width: 100%;
        height: 100%;
        background-color: #f0f0f0;
        
    }

    button {
        background-color: rgb(227, 224, 218);
        height: 40px;
        border: none;
        width: 20%;
        border-radius: 15px;
        cursor: pointer;
    }

.container {
    /* height: 100%; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(21, 146, 79);
    width: 100%;
    max-width: 26rem;
    margin: auto ;
    background-color: white;

    /* border-radius: 10px; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.126);
    margin: 50px auto ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    gap: 20px;
}

#SeachInput {
    padding: 12px 10px;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.14);
    border-radius: 5px;
}

.user-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.user-container .userItem {
    display: flex;
    background-color: #ececec;
    gap: 20px;
    border-radius: 10px;
    height: 3.6rem;
    align-items: center;
    padding: 15px 15px ;
}

.user-container .userItem  .image {
    height: 100%;
    border-radius: 100%;
    overflow: hidden;
    aspect-ratio: 1/1;
}

.user-container .userItem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  
}

.user-container .userItem .user-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.user-container .userItem .user-details h3 {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: teal;
}

.user-container .userItem .user-details p {
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:  rgb(21, 146, 79);

}
