* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    background-color: rgb(29, 29, 29);
    color: white;
}

.main-container{
    width:50%;
    text-align: center;
    margin: auto;
    padding: 3rem  1rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
    border-radius: 5px;
}

header {
    position: sticky;
    top:0px;
    background-color: rgb(29, 29, 29);
    padding: 1rem 0;
}

.inputContainer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    height: 3rem;

}

#taskInput {
    width: 100%;
    padding: 0 15px;
    border-radius: 5px;
    
}

.inputContainer {
    gap: 1rem;
}

.inputContainer .addBtn {
    padding: 0 15px;
    border-radius: 5px;
}

.todo-Container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.todo-Container .todo{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(17, 157, 145);
    padding: 10px;
    border-radius: 5px;
} 

.todo-Container .todo button  {
    padding: 10px 12px;
    border-radius: 5px;
    height: 2rem;

}

.todo-Container .todo .SaveBtn {
    display: none;

}
.todo-Container .todo #editInput {
    display: none;      
}