 *{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 html, body {
    width: 100%;
    height: 100%;
}

.container {
    background-color: rgba(209,204,198);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}

.inputBtncontainer {
    margin: 10px 0;
    display: flex;
    gap: 10px;
    border-radius: 10px;
}
input {
    border: none;
    border-radius:10px ;
}

#colorInput {
    border-radius: 5px;
    padding: 0 10px;
}

.heading {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 26px;
    border: 1px solid rgb(43, 43, 43);
}

button {
    background-color: lightseagreen;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    transition: all linear 0.1s;
}

button:active {
    scale: 0.9;
}
.CurrentColor {
    font-size: 20px;
    /* background-color: wheat; */
    padding: 10px;
    border-radius: 5px;
    font-size: larger;
    color: ;
   
}
